#app {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

@import 'custom.scss';
@import 'link.scss';
@import 'sidebar.scss';