#app {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

@import '_variables.scss';

@import '_custom.scss';
@import '_link.scss';
@import '_sidebar.scss';