$primary-color: #42b983;

.btn.btn-success {
  background-color: $primary-color!important;
  color: white;
  border-color: white;
}

.border.border-success {
  border-color: $primary-color!important;
}

.text-success {
  color: $primary-color!important;
}